* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  font-family: 'Roboto';
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 50vh;
}
.menu-list {
  list-style: none;
  display: flex;
  overflow-x: auto;
  width: 100%;
}
.menu-category {
  width: 450%;
}
@media screen and (min-width: 767px) {
  .menu-list {
    justify-content: space-between;
  }
}
.menu-list-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.active {
  color: orangered;
  text-decoration: underline;
}
